**/.claude/settings.local.json

# Dependencies
/node_modules
/.pnp
.pnp.js

# Build output
/public/dist
/build
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
/.npm
/.eslintcache
/.idea
.DS_Store
